$--font-size-base: 10px !important;

/* Color del tema */
$--color-primary: #7942ed !default;
$--color-grey: #8D8E93 !default;
$--color-dark: #333333 !default;
$--color-background: #fce256;

/* Ubicación de la fuente, obligatoria */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";